<div class="gs-top-menu">
  <div class="gs-menu-container">
    <div class="gs-logo-continaer">
      <span>GuruShots</span>
    </div>
    <div class="gs-menu-links">
      <nav class="gs-navigator">
        <a class="gs-menu-link">Discover</a>
        <a class="gs-menu-link">Articles</a>
        <a class="gs-menu-link">Exhibitions</a>
        <a class="gs-menu-link">Partners</a>
      </nav>
      <div class="gs-enterance">
        <span class="gs-login">login</span>
        <span class="gs-sign-up">sign up</span>
      </div>
    </div>
  </div>
</div>  