<div class="gs-botton-container">
  <div class="gs-bottom-left">
      <div class="gs-bottom-cont">
        <h1>Get your photos in exhibited in galleries aroung the world</h1>
        <p>
          From new New York and London to Cape Town, Singapore and beyond.
          About 5,000 GuruShots players are recognized each month, with tens of thousands already exhibited.
          Now you have the opportunity to get recognized, and connect with like-minded friends.
        </p>
      </div>
  </div>
  <div class="gs-bottom-right"></div>
</div>