<div class="gs-gallery-container">
  <div class="gs-gallery-sec">
    <div class="gs-images-container">
      <div class="gs-image-container">
         <img src="../../assets/pika.jpeg" />
      </div>
      <div class="gs-image-container">         
        <img src="../../assets/pika.jpeg" />       
      </div>
      <div class="gs-image-container">         
        <img src="../../assets/pika.jpeg" />       
      </div>
      <div class="gs-image-container">         
        <img src="../../assets/pika.jpeg" />       
      </div>
      <div class="gs-image-container">         
        <img src="../../assets/pika.jpeg" />       
      </div>
      <div class="gs-image-container">         
        <img src="../../assets/pika.jpeg" />       
      </div>
      <div class="gs-image-container">         
        <img src="../../assets/pika.jpeg" />       
      </div>
      <div class="gs-image-container">         
        <img src="../../assets/pika.jpeg" />       
      </div>
      <div class="gs-image-container">         
        <img src="../../assets/pika.jpeg" />       
      </div>
    </div>
  </div>
  <div class="gs-text-sec">
    <div class="gs-text-cont">
      <h1>Guru Shots Makes<br> Your Photos More <br> Meaningfull</h1>
      <p>
        Get massive exposure for your photos and meaningfull recognition from a global community of people like you.
        Best of the best, players can from virtual to real world recognition by being featured in magazines and newspapaers
         - and even in international photo exhibitions.
      </p>
    </div>
  </div>
</div>