<div class="gs-main-container">
  <div class="gs-left-sec">
    <div class="gs-main-conte">
      <h1>
        Imporve Your Photo Taking Skills
      </h1>
      <p>
        Experiment with your photos and find out which of them are WOW. Discover what's popular and receive awesome
        insights. As you level up in the game, you'll find yourself improving your photo-taking skills.
      </p>
      <span class="gs-join"><a>Join now for free</a></span>
    </div>
  </div>
  <div class="gs-right-sec"></div>
</div>